<div class="comment">
  <%= simple_format @comment.body %>
</div>

<%= render :partial => 'links/comment_form', :locals => {:commentable => @commentable, :comment => @new_comment } %>
<%= render :partial => 'links/commentable_comments', :locals => {:commentable => @commentable, :comments => @comments } %>
