<div class="hero-unit">
  <p><%= @comment.body %></p>

<%= render :partial => 'links/comment_form', :locals => {:commentable => @commentable, :comment => @new_comment } %>
<%= render :partial => 'links/commentable_comments', :locals => {:commentable => @commentable, :comments => @comments } %>

</div>