<div id="comments">
  <% comments.each do |comment| %>
    <div class="comment">
      <p><%= comment.body %></p> by <%= comment.user.email %><br />
      <%= link_to "reply", comment_path(comment.id) %>
    </div>
  <% end %>
</div>
