<div class="hero-unit">
  <h2>Here're your links, nerd</h2>

  <ol>
    <% @links.each do |link| %>
      <li class="entry">
        <%= render :partial => 'voting', :locals => {:link => link} %>
        <%= render :partial => 'link_and_title', :locals => {:link => link} %>
        <%= render :partial => 'edit_link', :locals => {:link => link} %>
      </li>
    <% end %>
  </ol>

  <%= paginate @links %>
</div>