// Place all the styles related to the links controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hover_hidden {
  display: none;
}

.link:hover {
    .hover_hidden {
        display: inline;
    }
}

.hero-unit {
	padding: 18px 60px;
	h6 {
		margin: 0px 00px 0px 38px;
	}
	ol {
		list-style: none;
	}
}

footer {
	p {
		margin: 0 0 9px 50px
	}
}

.pagination ul {
	margin-left: 10%
}